:root {
    --color-primary: #16596B;
    --color-accent: #F8DA76;
    --color-accent-dark: #F8CA32;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-accent);
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.search-main-container {
    display: flex;
    margin: 30px 0;
}

.order-online-image img,
.book-table-image img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.order-online-container,
.book-table-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 40%;
    align-items: center;
}

.address-form-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex: 35%;
    align-items: center;
}

.order-online-text,
.book-table-text {
    font-family: 'Hind', sans-serif;
    font-weight: 800;
    font-size: 35px;
    margin-top: 20px;
    line-height: 100%;
    text-align: center
}

.website-slogan {
    font-family: 'Hind', sans-serif;
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
    text-align: center
}

.address-form {
    width: 100%;
    height: 110px;
    margin: 40px;
    background-color: white;
    border: 1px solid black;
}

.form-title {
    text-align: center;
    margin: 10px 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.input-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.input-form input {
    width: 55%;
    padding: 3px;
    margin-right: 10px;
}

.input-form button {
    width: 1fr;
    background-color: #C69D14;
    padding: 3px;
    border: 1px solid black;
}

.cuisine-main-container {
    width: 100%;
    height: auto;
    background-color: var(--color-primary);
    padding: 10px 0;
}

.cuisine-container-header {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: var(--color-accent);
}

.long-underline-text {
    border-bottom: 2px solid var(--color-accent);
    padding: 0 20px;
    margin-bottom: 15px;
}

.cuisine-container-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.cuisine-image img {
    display: block;
    width: 40%;
    margin: 0 auto;
}

.cuisine-item {
    border: 2px solid black;
    margin: 10px 10px;
    padding: 10px;
    background: var(--color-accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 20%;
}

.cuisine-name {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.long-overline-text {
    border-top: 2px solid black;
    padding: 0 75px;
    margin-top: 8px;
}

@media screen and (max-width: 1200px) {
    .cuisine-image img {
        width: 25%;
    }

    .form-title {
        font-size: 20px;
    }

    .order-online-container,
    .book-table-container {
        justify-content: flex-end;
    }

    .order-online-text,
    .book-table-text {
        font-size: 25px;
    }
}

@media screen and (max-width: 900px) {
    .cuisine-image img {
        width: 20%;
    }

    .cuisine-item {
        flex: 40%;
    }

    .form-title {
        font-size: 18px;
    }

    .website-slogan {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .cuisine-name {
        font-size: 18px;
    }

    .search-main-container {
        flex-wrap: wrap;
    }

    .book-table-container,
    .order-online-container {
        order: 1;
        flex: 20%;
    }

    .address-form-container {
        margin-top: 50px;
        flex: 100%;
        order: 2;
    }

    .address-form {
        width: 85%;
    }

    .website-slogan {
        font-size: 35px;
    }

    .order-online-image img,
    .book-table-image img {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .cuisine-container-header {
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .cuisine-container-header {
        font-size: 18px;
    }

    .cuisine-name {
        font-size: 15px;
    }

    .cuisine-item {
        flex: 30%;
    }

    .long-overline-text {
        padding: 0 50px;
    }

    .long-underline-text {
        padding: 0;
    }
}