@font-face {
  font-family: "Dosis";
  font-weight: 300;
  src: url("./fonts/Dosis-Light.ttf");
}

@font-face {
  font-family: "Dosis";
  font-weight: 400;
  src: url("./fonts/Dosis-Regular.ttf");
}

@font-face {
  font-family: "Dosis";
  font-weight: 700;
  src: url("./fonts/Dosis-SemiBold.ttf");
}

:root {
  --color-primary: var(--normal-mode-color-primary);
  --color-accent: var(--normal-mode-color-accent);
  --color-accent-dark: var(--normal-mode-color-accent-dark);
  --color-accent-darker: #c9a327;
  --white: var(--normal-mode-white);
  --black: var(--normal-mode-black);
  --text-primary: var(--normal-mode-text-primary);

  --normal-mode-color-primary: #16596b;
  --normal-mode-color-accent: #f8da76;
  --normal-mode-white: #ffffff;
  --normal-mode-black: #000000;
  --normal-mode-text-primary: var(--normal-mode-color-primary);
  --normal-mode-color-accent-dark: #f8ca32;

  --dark-mode-color-primary: #124756;
  --dark-mode-color-accent: #836607;
  --dark-mode-white: #000000;
  --dark-mode-black: #ffffff;
  --dark-mode-color-accent-dark: #b19023;
  --dark-mode-text-primary: #8ad3e7;

  --font-type-1: 1.8em;
  --font-type-2: 2.2em;
  --font-type-3: 2.6em;
  --font-type-4: 3em;
  --font-type-5: 3.4em;
  --font-type-6: 3.8em;

  --font-type-paragraph-1: 1.1em;
  --font-type-paragraph-2: 1.3em;
  --font-type-paragraph-3: 1.5em;
  --font-type-paragraph-4: 1.7em;
  --font-type-paragraph-5: 1.9em;
  --font-type-paragraph-6: 2.1em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Dosis" !important;
  background-color: var(--color-primary);
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

p {
  margin: 0;
}
