:root {
    --color-primary: #16596B;
    --color-primary-clear: #1f809b;
    --color-accent: #F8DA76;
    --color-accent-dark: #F8CA32;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-primary);
}

html,
body {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
}

.search-filter-container {
    flex: 30%;
    height: 85vh;
    padding: 15px;
    margin: 10px;
    background-color: var(--color-accent);
    overflow: auto;
}

.search-results-container {
    display: flex;
    flex: 60%;
    height: 85vh;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

.container {
    width: 100%;
    height: auto;
    padding: 5px;
    margin-bottom: 10px;
    background-color: var(--color-accent-dark);
    border: 2px solid black;
}

.container > div {
    margin-bottom: 15px;
    padding: 0 10px;
}

.title {
    font-family: 'Hind', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    padding: 0 10px;
}

.long-underline {
    border-bottom: 3px solid black;
    margin: 0 40px;
}

.change-address-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-address-input-container input {
    width: 75%;
    padding: 5px;
}

.change-address-input-container button {
    margin-top: 10px;
    width: 50%;
    background-color: var(--color-primary);
    border: 1px solid black;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    color: var(--color-accent);
}

.change-address-input-container button:hover {
    background-color: var(--color-primary-clear);
}

.radio, .checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.radio label, .checkbox label, .filter-distance-option label{
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    padding-top: 3px;
    line-height: 1.5em;
}

.radio-input, .checkbox-input {
    display: none;
}

.radio-custom {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 3px;
    background-color: white;
}

.radio-custom::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: var(--color-primary);
    border-radius: 50%;

    transform: scale(0);
    transition: transform 0.2s;
}

.checkbox-custom {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 3px;
    background-color: white;
}

.checkbox-custom::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: var(--color-primary);

    transform: scale(0);
    transition: transform 0.2s;
}

.radio-input:checked + .radio-custom::after, .checkbox-input:checked + .checkbox-custom::after{
    transform: scale(1)
}

.filter-distance-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter-distance-option input {
    appearance: textfield;
    width: 15%;
    height: 1.5rem;
    margin: 0 5px;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    text-align: center;
}

.search-open-restaurant-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.result-container {
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: var(--color-accent);
    margin: 10px;
    border-radius: 10px;
}

.restaurant-image {
    display: block;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.restaurant-content {
    display: flex;
    flex-direction: column;
    flex: 65%;
    text-align: center;
}

.restaurant-name {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}

.restaurant-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.restaurant-details div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.restaurant-details img {
    width: 25px;
    margin: 0 20px;
}

.external-links img {
    width: 30px;
    margin: 0 10px;
}


.external-link-name {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.restaurant-details label, .external-link-name {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
}

.external-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.yelp-external-link, .google-maps-external-link {
    display: flex;
    flex: 20%;
    background-color: white;
    align-items: center;
    justify-content: flex-end;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.yelp-external-link:hover, .google-maps-external-link:hover {
    background-color: rgb(216, 215, 215);
}

@media screen and (max-width: 1200px) {
    .search-results-container {
        flex: 100%;
    }

    .search-filter-container {
        position: absolute;
        top: 105%;
    }
}

@media screen and (max-width: 1000px) {
    .result-container {
        width: 60%;
    }
}